@import url('https://fonts.cdnfonts.com/css/poppins?styles=20394,20389,20390,20392,20395,20383');

html {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --grayish-blue: hsl(246, 25%, 77%);
  --dark-blue: hsl(249, 10%, 26%);
  --border-radius: 0.8rem;
  height: 100%;
  width: 100%;
  display: grid;
  font-size: 16px;
  font-family: 'Poppins';
  background-color: black;
  justify-content: center;
}

@media (width < 900px) {
  html {
    height: auto;
  }
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./images/bg-intro-desktop.png');
  background-color: var(--red);
}

@media (width < 900px) {
  body {
    width: 400px;
    align-items: flex-start;
  }
}
